.grey-border-left {
  border-left: 1px solid rgb(223, 223, 223);
}

.small-fa {
  font-size: 1.0em;
}

.margin-top-4 {
  margin-top: 4px;
}

.margin-top-3 {
  margin-top: 3px;
}

.chat-users span {
  padding-left: 3px;
}

.chat-users li {
  cursor: pointer;
}

.hand {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.border-radius-6-left {
  border-radius: 6px 0 0 6px;
}

.border-radius-6-right {
  border-radius: 0px 6px 6px 0px;
}

.chat-users li:hover {
  background-color: rgb(237, 237, 237);
}

.analysis-list-mode {
  background-color: rgb(244, 181, 68);
  padding: 0px 4px;
  border-radius: 5px;
  font-size: xx-small;
  margin-top: 2px;
  color: #fff;
}

.analysis-list-mwd {
  background-color: rgb(237, 237, 237);
  color: #909090;
  padding: 3px 10px;
  cursor: pointer;
}

.analysis-list-mwd .active {
  background-color: rgb(211, 211, 211);
}

.analysis-list-mwd:hover {
  background-color: rgb(211, 211, 211);
}

.group-menu {

}

.group-menu-folder {
  color: rgb(240, 214, 132);
}

.group-menu-item {
  padding-left: 15px !important;
  margin-top: 2px !important;
  margin-bottom: 5px !important;
}

.group-menu-item-count {
  float: right;
  margin-right: 10px;
  color: grey;
}

.panel-white {
  background-color: #fff;
  /*background-color: grey;*/
}

.panel-white.panel-heading {
  color: red !important;
}

.panel-body {
  padding: 3px 8px 8px 8px !important;
}

.panel .panel-heading h4 {
  color: #000 !important;
}

.advance-subtitle {
  color: #69adff;
  /*border-bottom: 1px solid rgb(178, 158, 117);*/
}
.advance-subtitle-dot {
  font-size: 0.5em;
}

.light_blue {
  color:rgb(94, 169, 212) !important;
}

.sensor_selector_area {
  background-color: rgb(255, 248, 215);
  border-radius: 10px;
  text-align:center;
}

.sensor_selector_area .item {
  margin-top:15px;
  color:rgb(168, 133, 43);
  float:left;
}

