<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>云洋监测</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    

     <link rel="stylesheet" href="assets/plugins/login/login_page.css" />
    <link rel="stylesheet" href="assets/plugins/jquery.toast.min.css" />
        
    <style>
      .mt10 {
      margin-top:10px;
      }

      .mt60 {
       margin-top:60px;
      }
      .mt50 {
       margin-top:50px;
      }
      
      .br20 {
      border-radius: 20px;
      }
      .new-user {
      //height:55px;
      position:relative;
      }

      .new-user .line {
      position:absolute;
      border-bottom:1px solid rgb(157, 226, 195);
      width:300px;
      top:10%;
      left:25%;
      cursor: pointer;
      }

      .forget-passwd {
        margin-left:30%;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom:50px;
        padding-top:10px;
      }

      .forget-passwd:hover {
      color:white;
      cursor: pointer;
      }
      
      .register-form {
      display:none;
      }
      
      .transparent-btn {
      color: white;
      background-color: rgba(255, 255, 255, 0.3);
      }

      .transparent-btn:hover {
      color:grey;
      background-color: rgba(255, 255, 255, 0.8);
      }

      .register-smscode-field {
      display:none;
      }

      .back-btn {
       display:none;
       background-color:rgba(244, 244, 244,0.6);
       padding: 10px 110px;
      border-radius: 20px;
      text-decoration: none;
      color:rgb(131, 194, 158);
      }

    </style>

  </head>

  <body>

    <div class="wrapper">
	    <div class="container">
		    <h3 id="email" style="color:white;"><%= user.email  %></h3>

        <% if ( varify == true) { %>
          <form class="form reset-form">
          <p class="mt10">
            <input placeholder="新密码" onfocus="this.placeholder = ''" onblur="this.placeholder = '新密码'"  type="password" class="passwd-input"/>
          </p>

          <p class="mt10">
            <input placeholder="再次确认" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = '再次确认'"  class="passwd2-input"/>
          </p>

          <div class="new-user">
            <div class="line"></div>
          </div>

          <br>
          <br>
          <p class="">
            <button type="button" class="br20" id="reset-btn">确认修改</button>
          </p>
          
          <p style="margin-top:10px;">
            <a href="/login" class="back-btn">去登陆</a>
          </p>


        </form> 


        <% } else { %>   

         <h2>token不合法</h2>
         <h3>请确保你填写了正确的电子邮件地址</h3>

        <% } %>
        
	    </div>

      <ul class="bg-bubbles">
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
	    </ul><!--bg-bubbles-->

    </div><!--wrapper-->

    <script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="assets/plugins/jquery.toast.min.js"></script>
    <script src="../bower_components/is_js/is.min.js"></script>

    <!-- <script src="assets/plugins/login/login.js"></script> -->
    <script>
      $(".reset-form").submit(function(e){
        return false;
      });

      var alertInfo = function(msg) {
        $.toast({ position: "top-center", text: msg, textAlign: 'center' });
      };

      $("#reset-btn").click(function(){
        var ps1 = $(".passwd-input").val();
        var ps2 = $(".passwd2-input").val();
        var token = window.location.search.split("?token=")[1];

       if( is.empty(ps1) || is.empty(ps2) ) { alertInfo("密码不能为空."); return false; }
       if( ps1.length < 6) {alertInfo("密码长度不能小于6位"); return false;}

       if( ps1 != ps2 ) { alertInfo("两次密码不一致."); return false;}

       console.log("修改中： "+ email);

       $.post("/api/user/reset_password", { token: token, ps1:ps1, ps2:ps2 }, function(data){
          console.log("data: ", data);
          
          if( data.message == "ok" ) {
            alertInfo("密码修改成功");
            $(".back-btn").show();
            $('#reset-btn').hide();
          } else {
            alertInfo(data.err);
          }
        });

      });

    </script>
  </body>
</html>
