<style>

    .sensor-panel {
        background-color: rgb(245, 244, 244);
        padding: 6px 12px;
        margin-top: 4px;
        border-radius: 5px;
        height: 50px;
        /*padding:0 8px;*/
    }

    .sensor-green {
        color: rgb(109, 213, 109);
    }

    .sensor-number {
        font-size: large;
        /*padding:2px 10px;*/
        padding: 2px 2px 2px 10px;
        border-radius: 4px;
    }

    .sensor-clock {
        margin-top: 2px !important;
        margin-right: 4px !important;
    }

    .wendu_label {
        background-color: rgb(252, 250, 129);

        padding: 0 4px;
        border-radius: 4px;
    }

    .shidu_label {
        background-color: rgb(166, 205, 50);
        color: #fff;
        padding: 0 3px;
        border-radius: 5px;
    }

    .gGreen {
        background: -webkit-linear-gradient(90deg, #3CA55C 10%, #B5AC49 90%);
        /* Chrome 10+, Saf5.1+ */
        background: -moz-linear-gradient(90deg, #3CA55C 10%, #B5AC49 90%);
        /* FF3.6+ */
        background: -ms-linear-gradient(90deg, #3CA55C 10%, #B5AC49 90%);
        /* IE10 */
        background: -o-linear-gradient(90deg, #3CA55C 10%, #B5AC49 90%);
        /* Opera 11.10+ */
        background: linear-gradient(90deg, #3CA55C 10%, #B5AC49 90%);
        /* W3C */
    }

    /*.tooltip {*/

    /*background-color: #ffff00;*/

    /*z-index:100;*/

    /*}*/
</style>
<div ng-controller="DevListController" id="page-rightbar" sticky-scroll="40" rightbar-right-position="style_layoutBoxed"
     style="z-index: 10000;margin-right:-40px;">
    <div jscrollpane="{autoReinitialise:true, autoReinitialiseDelay: 100}" style="height: 100%;padding-bottom:40px">
        <div ng-show="curTabname == 'list'" class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top:20px">
                    基本信息
                    <!--{{curGreenHouseForList}}-->
                    <table class="table table-bordered table-condensed">
                        <tbody>
                        <tr>
                            <th>大棚名称</th>
                            <th>{{curGreenHouseForList.smartgate.dev_name}}</th>
                        </tr>
                        <tr>
                            <th>种植作物</th>
                            <th>{{curGreenHouseForList.smartgate.plant_name}}</th>
                        </tr>
                        <tr>
                            <th>种植时间</th>
                            <th>{{plant_time}}</th>
                        </tr>
                        <tr>
                            <th>预计收获时间</th>
                            <th>{{harvest_time}}</th>
                        </tr>
                        <tr>
                            <th>大棚面积</th>
                            <th odometer="curGreenHouseForList.smartgate.area"
                                odometer-options="{theme: 'default', duration: 500}"><span>（平方米）</span>
                            </th>
                        </tr>
                        <tr>
                            <th>预计年产量</th>
                            <th odometer="curGreenHouseForList.smartgate.expectation"
                                odometer-options="{theme: 'default', duration: 500}"><span>（公斤）</span>
                            </th>
                        </tr>
                        <tr>
                            <th>预计收获产量</th>
                            <th odometer="curGreenHouseForList.smartgate.harvest_weight"
                                odometer-options="{theme: 'default', duration: 500}">
                                <span>（公斤）</span></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-repeat="item in curGreenHouseForList.components">

                    <div ng-show=" 'cameraip' == item.dev_type">
                        <div class="sensor-panel">
                            <div>
                                <i class="fa fa-dot-circle-o sensor-green"></i>&nbsp;{{item.dev_name}}
                                <span ng-show="item.dev_alias != '' && item.dev_alias != 'undefined'">:{{item.dev_alias}}</span>
                                <span class="pull-right" am-time-ago="update_date" tooltip-placement="top"
                                      tooltip="最后更新时间"></span>
                                <i class="fa fa-ellipsis-v pull-right sensor-clock"
                                   style="color:rgb(190, 190, 190)"></i>&nbsp;
                            </div>
                            <br>
                        </div>
                    </div>

                    <div ng-show=" 'humidity-temperature' == item.dev_type">
                        <div class="sensor-panel">
                            <div>
                                <i class="fa fa-dot-circle-o sensor-green"></i>&nbsp;{{item.dev_name}}
                                <span ng-show="item.dev_alias != '' && item.dev_alias != 'undefined'">:{{item.dev_alias}}</span>
                                <span class="sensor-number" odometer="item.air_temperature"
                                      odometer-options="{theme: 'default', duration: 1000}"></span>
                                <span class="wendu_label">温度</span>
                                <span class="sensor-number" odometer="item.air_humidity"
                                      odometer-options="{theme: 'default', duration: 1000}"></span>
                                <span class="shidu_label">湿度</span>
                                <span class="pull-right" am-time-ago="update_date" tooltip-placement="top"
                                      tooltip="最后更新时间"></span>
                                <i class="fa fa-ellipsis-v pull-right sensor-clock"
                                   style="color:rgb(190, 190, 190)"></i>&nbsp;
                            </div>
                            <br>
                        </div>
                    </div>
                    <!--humidity-temperature-->
                    <div ng-show=" 'erelay' == item.dev_type">
                        <div class="sensor-panel">
                            <i class="fa fa-dot-circle-o sensor-green"></i>&nbsp;{{item.dev_name}}
                            <span ng-show="item.dev_alias != '' && item.dev_alias != 'undefined'">:{{item.dev_alias}}</span>
                            <img ng-show="1 == item.status" src="assets/img/open.png" style="margin-left:10px">
                            <img ng-show="0 == item.status" src="assets/img/lock.png" style="margin-left:10px">
                            <span class="pull-right" am-time-ago="update_date" tooltip-placement="top"
                                  tooltip="最后更新时间"></span>
                            <i class="fa fa-ellipsis-v pull-right sensor-clock" style="color:rgb(190, 190, 190)"></i>&nbsp;
                            <br>
                        </div>
                    </div>
                    <!--erelay-->
                    <div ng-show=" 'erelay2' == item.dev_type">
                        <div class="sensor-panel">
                            <i class="fa fa-dot-circle-o sensor-green"></i>&nbsp;{{item.dev_name}}
                            <span ng-show="item.dev_alias != '' && item.dev_alias != 'undefined'">:{{item.dev_alias}}</span>
                            <img ng-show="1 == item.status" src="assets/img/open.png" style="margin-left:10px">
                            <img ng-show="0 == item.status" src="assets/img/lock.png" style="margin-left:10px">
                            <span class="pull-right" am-time-ago="update_date" tooltip-placement="top"
                                  tooltip="最后更新时间">   </span>
                            <i class="fa fa-ellipsis-v pull-right sensor-clock" style="color:rgb(190, 190, 190)"></i>&nbsp;
                            <br>
                        </div>
                    </div>
                    <div ng-show=" 'illumination' == item.dev_type">
                        <div class="sensor-panel">
                            <div>
                                <i class="fa fa-dot-circle-o sensor-green"></i>&nbsp;{{item.dev_name}}
                                <span ng-show="item.dev_alias != '' && item.dev_alias != 'undefined'">:{{item.dev_alias}}</span>
                            <span class="sensor-number" odometer="item.lux"
                                  odometer-options="{theme: 'default', duration: 1000}"></span>
                                <span class="wendu_label">光照</span>
                            <span class="pull-right" am-time-ago="update_date" tooltip-placement="top"
                                  tooltip="最后更新时间"></span>
                                <i class="fa fa-ellipsis-v pull-right sensor-clock"
                                   style="color:rgb(190, 190, 190)"></i>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--curGreenHouseForList:{{curGreenHouseForList}}-->
        </div>
        <accordion close-others="rightbarAccordionsShowOne" ng-show="curTabname == 'map'">
            <accordion-group is-open="rightbarAccordions[0].open" ng-class="{open:rightbarAccordions[0].open}">
                <accordion-heading>{{"CHN_SUMMARY" | translate}}</accordion-heading>

                <div class="widget-block mt10 mb0 gGreen">
                    <div class="pull-left" style="margin-top: 16px;margin-right: 16px; ">
                        <h5>全国:</h5>
                    </div>
                    <div class="pull-left" style="margin-right:20px">
                        <small>{{"CHN_TOTAL_CNT" | translate}}</small>
                        <h6 style="color:white;margin-left: 13px">{{totalCnt}}个</h6>
                    </div>
                    <div class="pull-left" style="margin-right:20px">
                        <small>{{"ONLINE"| translate }}</small>
                        <h6 style="color:white">{{onlineCnt}}个</h6>
                    </div>
                    <div class="pull-left">
                        <small>{{"OFFLINE" | translate}}</small>
                        <h6 style="color:white">{{totalCnt - onlineCnt}}个</h6>
                    </div>

                    <div class="pull-left" style="margin-top: 8px;margin-right: 16px; ">
                        <h5>个人:</h5>
                    </div>
                    <div class="pull-left" style="margin-right:30px;margin-top: 8px;">
                        <h6 style="color:white;margin-left: 13px">{{personal_totalCnt}}个</h6>
                    </div>
                    <div class="pull-left" style="margin-right:20px;margin-top: 8px;">
                        <h6 style="color:white">{{personal_onlineCnt}}个</h6>
                    </div>
                    <div class="pull-left" style="margin-top: 8px;">
                        <h6 style="color:white">{{personal_totalCnt - personal_onlineCnt}}个</h6>
                    </div>
                </div>

            </accordion-group>
            <div style="font-size:small;padding:4px 10px;margin-bottom:15px">
                <span class="pull-right">
                 <span class="hand" ng-class="{'text-info': 'geo'==curGroupMode}" ng-click="setGroupMode('geo')">
            <i class="fa fa-hand-o-right" ng-show="'geo'==curGroupMode"></i>
            地理位置
          </span>
                <i class="fa fa-ellipsis-v"></i>&nbsp;
                <span class="hand" ng-class="{'text-info': 'custom'==curGroupMode}" ng-click="setGroupMode('custom')">
            <i class="fa fa-hand-o-right" ng-show="'custom'==curGroupMode"></i>
            高级搜索
          </span>
                </span>
            </div>
            <div ng-show="'geo'==curGroupMode" ng-controller="GeoGroupController">
                <div ng-repeat="group in geoGroups" style="margin-bottom:5px">
                    <div style="background-color: #f3f3f3;padding:10px 8px;border-left:3px solid rgb(125, 204, 147)"
                         ng-click="group.__isCollapsed = !group.__isCollapsed;showGeoGroupDetail(group.name, group.__isCollapsed)">
                        <i class="fa fa-eye small-fa">&nbsp;</i>
                         <span class="hand" style="font-size: medium;color:#969a91;"
                               ng-show="group.name === '' || group.name === undefined || group.name === null || group.name === 'undefined'">
                            未知分组 &nbsp;({{group.count}})</span>
                        <span class="hand" style="font-size: medium;color:#969a91;"
                              ng-show="group.name !== '' && group.name !== undefined && group.name !== null && group.name !== 'undefined'">
                            {{group.name}}&nbsp;({{group.count}})</span>

                        <span class="pull-right" style="color:#969a91;">
            <i class="hand"
               ng-class="{'fa fa-angle-double-right': !group.__isCollapsed,'fa fa-angle-double-down': group.__isCollapsed}"></i>&nbsp;
          </span>
                    </div>
                    <div collapse="!group.__isCollapsed">
                        <div ng-hide="group.geoCities.length > 0">
                            <span style="padding-left:20px;">loading...</span>
                        </div>
                        <div ng-repeat="city in group.geoCities" style="color:#676767;margin-top:5px">
                            <div style="font-size: medium" ng-click="city.__isCollapsed = !city.__isCollapsed;showGeoGityDetail(group.name,city.name,city.__isCollapsed)">
                                <i style="margin-left:20px;"
                                   ng-class="{'fa fa-plus-square': !city.__isCollapsed,'fa fa-minus-square': city.__isCollapsed , 'light_blue': city.name == curCity}">
                                    &nbsp;</i>
                                <span class="hand" ng-show="city.name === '' || city.name === undefined || city.name === null || city.name === 'undefined'"> 未知分组 &nbsp;({{city.count}})</span>
                                <span class="hand" ng-show="city.name !== '' && city.name !== undefined && city.name !== null && city.name !== 'undefined'">
                                    {{city.name}} &nbsp;({{city.count}}) </span>
                                <span class="pull-right" style="color:#969a91;">
            <i class="hand" style="margin-right:9px;margin-top:3px;"
               ng-class="{'fa fa-angle-double-right': !city.__isCollapsed,'fa fa-angle-double-down': city.__isCollapsed}"></i>&nbsp;
          </span>
                                <!--<i class="pull-right hand"
                                   style="margin-right:15px;margin-top:3px;"
                                   ng-click="city.__isCollapsed = !city.__isCollapsed;"
                                   ng-class="{'fa fa-angle-right': !city.__isCollapsed,'fa fa-angle-down': city.__isCollapsed}">
                                </i>-->
                            </div>
                            <div collapse="!city.__isCollapsed">
                                <div ng-show="devinfoLoadding">loadding...</div>
                                <div ng-repeat="district in city.geoDistricts" style="margin-top:2px">
                                    <div style="font-size: small"
                                         ng-click="district.__isCollapsed = !district.__isCollapsed;showGeoDistrictDetail(group.name,city.name, district.name,district.__isCollapsed)">
                                        <i style="margin-left:30px;"
                                           ng-class="{'fa fa-plus-square': !district.__isCollapsed,'fa fa-minus-square': district.__isCollapsed,'light_blue': district.name == curDistrict}">
                                            &nbsp;</i>

                                        <span class="hand" ng-show="district.name === '' || district.name === undefined || district.name === null || district.name === 'undefined'">
                                            未知分组 &nbsp;({{district.count}})</span>
                                        <span class="hand" ng-show="district.name !== '' && district.name !== undefined && district.name !== null && district.name !== 'undefined'">
                                            {{district.name}} &nbsp;({{district.count}}) </span>
                                        <span class="pull-right" style="color:#969a91;">
            <i class="hand" style="margin-right:9px;margin-top:3px;"
               ng-class="{'fa fa-angle-double-right': !district.__isCollapsed,'fa fa-angle-double-down': district.__isCollapsed}"></i>&nbsp;
          </span>
                                    </div>
                                    <!--city.devinfo: {{city.devinfo}}-->
                                    <div collapse="!district.__isCollapsed">
                                        <div ng-show="devinfoLoaddingFlag">loadding...</div>
                                        <div ng-repeat="dev in district.devinfo"
                                             style="margin-top:2px;font-size: small">

                                            <div ng-click="showDevDetail($event, dev.dev_name, dev.sn, dev.lat, dev.lng)">
                                                <i class="fa fa-map-marker" ng-class="{'light_blue': curDev == dev.sn}"
                                                   style="margin-left:40px;">&nbsp;</i>
                                                <span class="hand"ng-class="{'offline_state': dev.online_state == 'offline'}"
                                                      tooltip-placement="top" tooltip="设备SN: {{dev.sn}}">{{dev.dev_name}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--city collapse-->
                        </div>
                        <!--device group-->
                    </div>
                </div>
            </div>
            <div ng-show="'custom'==curGroupMode" ng-controller="CustomGroupController">
                <div class="container">
                    <span><i class="fa fa-map-marker"></i>&nbsp;省份：</span>
                    <ui-select class="" multiple ng-model="Select.province" theme="bootstrap" ng-disabled="disabled"
                               on-select="provinceSelect($item)" close-on-select="true" title="选择省份">
                        <ui-select-match placeholder="选择省份">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="province in availableProvinces | filter:$select.search">
                            {{province}}
                        </ui-select-choices>
                    </ui-select>
                    <span><i class="fa fa-map-marker"></i>&nbsp;城市：</span>
                    <ui-select class="" multiple ng-model="Select.city" theme="bootstrap" ng-disabled="disabled"
                               on-select="cityOnSelect($item)" close-on-select="true" title="选择城市">
                        <ui-select-match placeholder="选择城市">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="city in availableCitys | filter:$select.search">
                            {{city}}
                        </ui-select-choices>
                    </ui-select>
                    <span><i class="fa fa-map-marker"></i>&nbsp;地区：</span>
                    <ui-select class="" multiple ng-model="Select.district" theme="bootstrap" ng-disabled="disabled"
                               on-select="districtOnSelect($item)" close-on-select="true" title="选择地区">
                        <ui-select-match placeholder="选择地区">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="district in availableDistricts | filter:$select.search">
                            {{district}}
                        </ui-select-choices>
                    </ui-select>
                    <span><i class="fa fa-code-fork"></i>&nbsp;主要作物：</span>
                    <ui-select class="" multiple ng-model="Select.plant" theme="bootstrap" ng-disabled="disabled"
                               on-select="plantOnSelect($item)" close-on-select="true" title="选择城市">
                        <ui-select-match placeholder="选择查询作物">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="plant in availablePlants | filter:$select.search">
                            {{plant}}
                        </ui-select-choices>
                    </ui-select>
                    <!--&nbsp;&nbsp;-->
                    <!--<bottom class="btn btn-default btn-sm" ng-click="groupsSubmit(multipleSelect.groups)">确定</bottom>-->
                    <br>

                    <div class="btn btn-success btn-sm pull-right" ng-click="searchCustom()">确定</div>
                </div>
            </div>
        </accordion>
        <!--accordion-->
    </div>
    <!--jscrollpane-->
</div>
<!--DevListController-->
<!-- END RIGHTBAR -->
